START
NOP
NOP
NOP
PUSHI 0
PUSHI 0
PUSHI 0
NOP
PUSHI 5
STOREG 3
PUSHI 10
STOREG 4
NOP
PUSHG 3
PUSHG 4
ADD
STOREG 5
PUSHG 5
PUSHI 2
MUL
STOREG 5
NOP
PUSHG 3
PUSHG 4
SUP
JZ l0
PUSHS "x é maior que y"
WRITES
JUMP l0f
l0: NOP
PUSHS "y é maior que x"
WRITES
l0f: NOP
NOP
PUSHI 0
NOP
PUSHS "Digite um valor para inp:\n"
WRITES
READ
ATOI
STOREG 7
NOP
l1c: NOP
PUSHG 7
PUSHI 0
SUP
JZ l1f
PUSHG 7
WRITEI
PUSHS "\n"
WRITES
PUSHG 7
PUSHI 1
SUB
STOREG 7
JUMP l1c
l1f: NOP
PUSHI 200
STOREG 7
NOP
NOP
PUSHN 5
PUSHN 6
PUSHGP
PUSHI 13
PADD
PUSHI 0
PUSHI 2
MUL
PADD
PUSHI 1
PUSHI 2
STOREN
PUSHGP
PUSHI 8
PADD
PUSHI 0
PUSHG 7
STOREN
STOP
